<nav class="d-none d-sm-block bg-light sidebar">
	<ul class="nav nav-pills flex-column">
    	<li class="nav-item">
        	<a class="nav-link" [routerLink]="['home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" [routerLink]="['restaurants']" routerLinkActive="active">Restaurants</a>
             <ul class="nav nav-pills flex-column">
    			<li class="nav-item">
        			<a class="nav-link" [routerLink]="['restaurants/all']" routerLinkActive="active">All</a>
        		</li>
        		<li class="nav-item">
             		<a class="nav-link" [routerLink]="['restaurants/german']" routerLinkActive="active">German</a>
        		</li>
        		<li class="nav-item">
             		<a class="nav-link" [routerLink]="['restaurants/chinese']" routerLinkActive="active">Chinese</a>
        		</li>
        		<li class="nav-item">
             		<a class="nav-link" [routerLink]="['restaurants/american']" routerLinkActive="active">American</a>
        		</li>
        		<li class="nav-item">
             		<a class="nav-link" [routerLink]="['restaurants/indian']" routerLinkActive="active">Indian</a>
        		</li>
        		<li class="nav-item">
             		<a class="nav-link" [routerLink]="['restaurants/pizza']" routerLinkActive="active">Pizza</a>
        		</li>
        		<li class="nav-item">
             		<a class="nav-link" [routerLink]="['restaurants/vegetarian']" routerLinkActive="active">Vegeterian</a>
        		</li>
    		</ul>
        </li>
        <li class="nav-item">
             <a class="nav-link" [routerLink]="['about']" routerLinkActive="active">About</a>
        </li>
    </ul>
</nav>

